.logo {
    background-color:aquamarine;
    padding: 10px;
    margin-bottom: -8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-nav {
    margin-left: auto;
}

body {
    background-color:rgb(236, 236, 236);
}

.white_col {
    background-color: white;
}

.column_left {
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 50px 20px;
}

.column_right {
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 50px 20px;
    
}

.column_single {
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 50px 20px;
}

h1 {
    color: rgb(49, 179, 135);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    float: left;
    margin: 10px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-align: justify;
}

.active_img {
    border-width: 3px;
    border-color: rgb(49, 179, 135);
    border-style: solid;
}